/* CSS Reset */
body, header, nav, main, footer, img, h1, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for container element */
#container {
    width: auto;
    align-items: center;
}

/* Style rules for header content */
header {
    text-align: center;
    font-size: 1.5em;
    color: cornflowerblue;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    text-shadow: #fff;
    /* Double check shadow later */
}

header h1 {
    font-family: "DM Serif Display";
}

/* Style rules for navigation area */
nav {
    background-color: cornflowerblue;
    margin: auto;
    padding: auto;
    border: 1px solid black;
    color: black;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 2em;
    border-top: 1px solid #e5e9fc;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}


/* Style rules for main content */
main {
    margin: 2%;
    padding: 2%;
    background-color: #e5e9fc;
    overflow: auto;
    font-family: "Roboto";
    border-radius: 10px;
    display: block;
    color: #000000;
    /*Add shadow here*/
}

main p {
    font-size: 1.25em;
}


/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.65em;
    margin-top: left;
    clear: left;
}

footer a {
    color: cornflowerblue;
    text-decoration: none;
}

/* Show mobile class, hide tablet-desktop */
.mobile {
	display: block;
}

.tablet-desktop {
	display: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px),print {

	/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
	.tablet-desktop {
		display: block;
	}

	.mobile {
		display: none;
	}

	/* Tablet Viewport: Style rules for header */
	header {
		position: static;
		padding-bottom: 2%;
	}

	/* Tablet Viewport: Style rules for nav */
	nav {
		background-color: cornflowerblue;
		margin: auto;
		padding: auto;
		border: 1px solid black;
		color: black;
	}

	nav ul {
		list-style-type: none;
		text-align: center;
	}

	nav li {
		display: block;
		font-size: 2em;
		border-top: 1px solid #e5e9fc;
	}

	nav li a {
		display: block;
		color: #fff;
		text-align: center;
		padding: 0.5em 1em;
		text-decoration: none;
	}

	nav li a:link {
		color: white;
	}

	nav li a:hover {
		color:black;
	}
}