/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #fff;
}

img, video {
    max-width: 100%;
    display: block;
}

video {
    margin: 0 auto 4%;
}

/* Mobile Viewport */
.mobile-nav a {
    color: #000;
    font-family: 'Francois One', sans-serif;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	padding: 3%;
	display: block;
}

.mobile {
    display: block;
}

.mobile-nav {
    display: block;
    background-color: cornflowerblue;
}

.tablet-desktop {
    display: none;
}


header {
    top: 0;
    height: 190px;
}

header img {
    margin: 0 auto;
    height: 190px;
}

* {
    box-sizing: border-box;
}

.mobile h3 {
    text-shadow: 5px 5px 8px #ccc;
}

article {
    padding: 2%;
}

article h3 {
    text-align: center;
}

article img, figure img {
    margin: 0 auto;
}

article ul {
    margin-left: 10%;
}

figure {
    padding: 1em;
}

figure, figure img {
    border-radius: 8px;
}

figure:nth-of-type(odd) {
    background-color:#ccc;
}

/* Main Content */
main {
    clear: left;
    background-color: #e5e9fc;
    padding: 2%;
    font-size: 1.15em;
    color: #000;
    font-family: 'Roboto Slab', serif;
}

main p {
    font-size: 1.25em;
}

/*Footer Content */
footer p {
    font-size: 0.75em;
    text-align: center;
    color: #000;
    padding: 0 1em;
}

footer p a{
    color: cornflowerblue;
    text-decoration: none;
}




/* Media Query for Tablet/Desktop Viewport */
@media screen and (min-width: 630px),print {
    header {
        padding-bottom: 2%;
    }

    .tablet-desktop {
        display: block;
        background-color: cornflowerblue;
        padding: 1%;
        margin-bottom: 1%;
    }

    .mobile-nav, .mobile {
        display: none;
    }

    .tablet-desktop ul {
        list-style-type: none;
        margin: 0;
        text-align: center;
    }

    .tablet-desktop li {
        font-size: 1.2em;
        font-family: 'Francois One', sans-serif;
        border-top: 1px solid #fff;
    }

    .tablet-desktop li a {
        display: block;
        color:#000;
        padding: 0.5em 1em;
        text-decoration: none;
        padding: 0.1em 0.75em;
    }

    .tablet-desktop a:hover {
        color:darkmagenta;
    }

    .tablet-desktop li:first-child {
        border-top: none;
    }

    main ul {
        margin: 0 0 4% 10%;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }

    h3 {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
    }

    article {
        padding: 2%;
    }

    article img, figure img {
        margin: 0 auto;
    }

    article ul {
        margin-left: 10%;
    }

    article p {
        text-align: center;
    }

    figure {
        padding: 1em;
    }

    figure, figure img {
        border-radius: 8px;
    }

    figure:nth-of-type(odd) {
        background-color: #ccc;
    }

    .aside {
        text-align: center;
        font-size: 1.25em;
        font-style: italic;
        font-weight: bold;
        padding: 2%;
        background-color: #ccc;
        box-shadow: 5px 5px 8px #000;
        text-shadow: 5px 5px 5px #b3b3b3;
        border-radius: 0 15px;
    }

    table {
        border: 1px solid #000;
        border-collapse: collapse;
        border-spacing: 0;
    }

    th, td {
        border: 1px solid #000;
        padding: 0.5em;
    }

    th {
        background-color: #ccc;
    }

    tr:nth-child(odd) {
        background-color:rgb(233, 196, 255);
    }

    tr:nth-child(even) {
        background-color:rgb(207, 225, 255);
    }

    tr:hover {
        background-color:beige;
        cursor: pointer;
    }

    caption {
        font-weight: bold;
        font-size: 1.25em;
    }
}
