/* CSS Reset */
body, header, nav, main, footer, img, h1, ul {
    margin: o;
    padding: o;
    border: 0;
}

/* Style rules for navigation area */
nav {
    background-color: cornflowerblue;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 2em;
    border-top: 1px solid #e5e9fc;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rules for header content */
header {
    text-align: center;
    font-size: 1.5em;
    color: cornflowerblue;
}

header h1 {
    font-family: "DM Serif Display";
}

/* Style rules for main content */
main {
    padding: 2%;
    background-color: #e5e9fc;
    overflow: auto;
    font-family: "Roboto";
}

main p {
    font-size: 1.25em;
}